In [1]:
import numpy as np
import pandas as pd
from neo4j import GraphDatabase
from typing import List, Dict
import os
import streamlit as st
import re
import pandas as pd
import ast
from ast import literal_eval

## Main DataBase Class

In [10]:
class CourseDatabase:
    def __init__(self, uri: str, username: str, password: str):
        """Initialize connection to Neo4j database."""
        self.driver = GraphDatabase.driver(uri, auth=(username, password))

    def close(self):
        """Close the database connection."""
        self.driver.close()

    # David's Functions
    def add_course(self, index, title="", units=0, description=""):
        """
        Adds new course node given input or updates corresponding course node given input. 
        """
        with self.driver.session() as session:
            result = session.run("""
                MERGE (c:Course {course_id: $index})
                SET c.name = $index,
                    c.title = CASE 
                        WHEN $title <> '' AND c.title = ''
                        THEN $title
                        ELSE COALESCE(c.title, $title)
                    END,
                    c.units = CASE 
                        WHEN $units <> 0 AND c.units = 0
                        THEN $units
                        ELSE COALESCE(c.units, $units)
                    END,
                    c.description = CASE 
                        WHEN $description <> '' AND c.description = ''
                        THEN $description 
                        ELSE COALESCE(c.description, $description)
                    END
                RETURN c
                """,
                index=index,
                title=title,
                units=units,
                description=description
            )
            return result.single()
    
    def add_milestone(self, milestone_id, title="", units_required=0, description=""):
        with self.driver.session() as session:
            result = session.run("""
                MERGE (m:Milestone {milestone_id: $milestone_id})
                SET m.name = $milestone_id,
                    m.title = CASE
                        WHEN $title <> '' AND m.title = ''
                        THEN $title
                        ELSE COALESCE(m.title, $title)
                    END,
                    m.units_required = CASE 
                        WHEN $units <> 0 AND m.units = 0
                        THEN $units
                        ELSE COALESCE(m.units, $units)
                    END,
                    m.description = CASE 
                        WHEN $description <> '' AND m.description = ''
                        THEN $description 
                        ELSE COALESCE(m.description, $description)
                    END
                RETURN m
                """,
                milestone_id=milestone_id,
                title=title,
                units=units_required,
                description=description
            )
            return result.single()

    def add_or_group(self, group_id):
        with self.driver.session() as session:
            result = session.run("""
                MERGE (og:OrGroup {group_id: $group_id})
                SET og.name = $group_id
                RETURN og
                """,
                group_id=group_id
            )
            return result.single()
    
    def add_milestone_to_milestone(self, milestone_id, minor_milestone_id):
        with self.driver.session() as session:
            try:
                # Check if relationship already exists before creating
                result = session.run("""
                    MATCH (m:Milestone {milestone_id: $milestone_id})
                    MATCH (mm:Milestone {milestone_id: $minor_milestone_id})
                    WITH m, mm
                    WHERE NOT EXISTS((mm)-[:REQUIRED]->(m))
                    MERGE (mm)-[r:REQUIRED]->(m)
                    RETURN r
                    """,
                    milestone_id=milestone_id, minor_milestone_id=minor_milestone_id
                )
                return result.single()
            except Exception as e:
                print(f"Error creating required relation from {minor_milestone_id} to {milestone_id}: {str(e)}")

    def add_group_to_course(self, course_id, group_id):
        with self.driver.session() as session:
            try:
                # Check if relationship already exists before creating
                result = session.run("""
                    MATCH (c:Course {course_id: $course_id})
                    MATCH (og:OrGroup {group_id: $group_id})
                    WITH c, og
                    WHERE NOT EXISTS((og)-[:REQUIRED]->(c))
                    MERGE (og)-[r:REQUIRED]->(c)
                    RETURN r
                    """,
                    course_id=course_id, group_id=group_id
                )
                return result.single()
            except Exception as e:
                print(f"Error creating prerequisite relation from {group_id} to {course_id}: {str(e)}")

    def add_course_to_group(self, group_id, course_id):
        with self.driver.session() as session:
            try:
                # Check if relationship already exists before creating
                result = session.run("""
                    MATCH (c:Course {course_id: $course_id})
                    MATCH (og:OrGroup {group_id: $group_id})
                    WITH c, og
                    WHERE NOT EXISTS((c)-[:REQUIRED]->(og))
                    MERGE (c)-[r:REQUIRED]->(og)
                    RETURN r
                    """,
                    course_id=course_id, group_id=group_id
                )
                return result.single()
            except Exception as e:
                print(f"Error creating required relation from {course_id} to {group_id}: {str(e)}")

    def add_course_in_group(self, course_id, group_id):
        with self.driver.session() as session:
            try:
                # Check if relationship already exists before creating
                result = session.run("""
                    MATCH (c:Course {course_id: $course_id})
                    MATCH (og:OrGroup {group_id: $group_id})
                    WITH c, og
                    WHERE NOT EXISTS((c)-[:INCLUDED_IN]->(og))
                    MERGE (c)-[r:INCLUDED_IN]->(og)
                    RETURN r
                    """,
                    course_id=course_id, group_id=group_id
                )
                return result.single()
            except Exception as e:
                print(f"Error creating course to group relation from {course_id} to {group_id}: {str(e)}")
    
    def add_group_in_milestone(self, group_id, milestone_id):
        with self.driver.session() as session:
            try:
                # Check if relationship already exists before creating
                result = session.run("""
                    MATCH (m:Milestone {milestone_id: $milestone_id})
                    MATCH (og:OrGroup {group_id: $group_id})
                    WITH m, og
                    WHERE NOT EXISTS((og)-[:INCLUDED_IN]->(m))
                    MERGE (og)-[r:INCLUDED_IN]->(m)
                    RETURN r
                    """,
                    group_id=group_id, milestone_id=milestone_id
                )
                return result.single()
            except Exception as e:
                print(f"Error creating included in relation from {group_id} to {milestone_id}: {str(e)}")

    def add_course_in_milestone(self, course_id, milestone_id):
        with self.driver.session() as session:
            try:
                # Check if relationship already exists before creating
                result = session.run("""
                    MATCH (m:Milestone {milestone_id: $milestone_id})
                    MATCH (c:Course {course_id: $course_id})
                    WITH m, c
                    WHERE NOT EXISTS((c)-[:INCLUDED_IN]->(m))
                    MERGE (c)-[r:INCLUDED_IN]->(m)
                    RETURN r
                    """,
                    course_id=course_id, milestone_id=milestone_id
                )
                return result.single()
            except Exception as e:
                print(f"Error creating included in relation from {course_id} to {milestone_id}: {str(e)}")
    
    def get_course_info(self, course_id):
        with self.driver.session() as session:
            result = session.run("""
                MATCH (c:Course {course_id: $course_id})
                RETURN 
                    c.course_id as id,
                    c.title as title,
                    c.units as units,
                    c.description as description
            """, course_id=course_id)
            
            record = result.single()
            if record:
                return {
                    'course_id': record['id'],
                    'title': record['title'],
                    'units': record['units'],
                    'description': record['description']
                }
            return None

    def get_prerequisites(self, course_id):
        with self.driver.session() as session:
            # Query all prerequisites groups and their courses
            result = session.run("""
                MATCH (c:Course {course_id: $course_id})
                MATCH (og:OrGroup)-[:REQUIRED]->(c)
                MATCH (prereq:Course)-[:INCLUDED_IN]->(og)
                RETURN og.group_id as group_id, 
                    collect(prereq.course_id) as prereq_courses
                ORDER BY og.group_id
            """, course_id=course_id)
            
            # Convert result to list of lists format
            prereqs = []
            for record in result:
                prereqs.append(record['prereq_courses'])
                
            return prereqs

## Testing the get_prereqs function

In [11]:
uri = st.secrets["NEO4J_URI"]
username = st.secrets["NEO4J_USERNAME"]
password = st.secrets["NEO4J_PASSWORD"]

db = CourseDatabase(
    uri=uri,
    username=username,
    password=password
)

## Creating Categories for MATH CS major

In [12]:
# David's Functions
def add_major_requirements(major_req_data):
    # add the meta milestones
    for idx, row in major_req_data.iloc[:3,:].iterrows():
        db.add_milestone(
            row['Milestones'],
            row['Title'],
            row['Units Required'],
            row['Descriptions']
        )

        milestone_requirements = literal_eval(row['Requirements'])
        for group_idx, or_group in enumerate(milestone_requirements):
            print(or_group)
            db.add_milestone(or_group)
            db.add_milestone_to_milestone(row['Milestones'], or_group)
        print(f"added {row['Milestones']} to database.")

    # add the individual milestones and courses
    for idx, row in major_req_data.iloc[3:,:].iterrows():
        db.add_milestone(
            row['Milestones'],
            row['Title'],
            row['Units Required'],
            row['Descriptions']
        )

        milestone_requirements = literal_eval(row['Requirements'])
        for group_idx, or_group in enumerate(milestone_requirements):
            if isinstance(or_group, tuple):
                group_id = f"{row['Milestones']}_PATH_{group_idx}"
                db.add_or_group(group_id)
                db.add_group_in_milestone(group_id, row['Milestones'])
                print(f'{or_group}: added new group')

                for required_course in or_group:
                    db.add_course(required_course)
                    db.add_course_to_group(group_id, required_course)
            elif isinstance(or_group, str):
                db.add_course(or_group)
                db.add_course_in_milestone(or_group, row['Milestones'])
                print(f'{or_group}: directly added course')
        print(f"added {row['Milestones']} to database.")
        
    print("Successfully added all requirement milestones.")

In [13]:
# David's Function
def add_department_catalog(dpt_cat_data):
    """
    Loads entire course catalog into neo4j db. 
    dpt_cat_data should include columns: ['Course_Index', 'Course_Title', 'Course_Units', 'Course_Description', 'Course_Prerequisites']
    """
    for idx, row in dpt_cat_data.iterrows():
        db.add_course(
            row['Course_Index'],
            row['Course_Title'],
            row['Course_Units'],
            row['Course_Description']
        )

        course_prereq_lst = literal_eval(row['Course_Prerequisites'])
        for group_idx, or_group in enumerate(course_prereq_lst):
            # Create unique group ID combining course and group number
            group_id = f"{row['Course_Index']}_GROUP_{group_idx}"
            print(group_id)
            # Add OrGroup
            db.add_or_group(group_id)

            # Add prerequisite relation from OrGroup to main course
            db.add_group_to_course(row['Course_Index'], group_id)

            # Add all prerequisite courses and their relations to OrGroup
            for prereq_course in or_group:
                print(prereq_course)
                # Add prerequisite course (will be ignored if already exists)
                db.add_course(prereq_course)  # Minimal info for prereq courses

                # Add relation from prerequisite course to OrGroup
                db.add_course_in_group(prereq_course, group_id)
        
        print(f"added {row['Course_Index']} to database.")
    print('\nSucessfully added all courses to database.\n')

In [14]:
math_data = pd.read_csv('data/processed/Math Course Data.csv')
add_department_catalog(math_data)

MATH 2_GROUP_0
added MATH 2 to database.
MATH 3B_GROUP_0
added MATH 3B to database.
MATH 3C_GROUP_0
MATH 3B
added MATH 3C to database.
MATH 4C_GROUP_0
MATH 3C
added MATH 4C to database.
MATH 10A_GROUP_0
MATH 3C
MATH 10A_GROUP_1
MATH 4C
added MATH 10A to database.
MATH 10B_GROUP_0
MATH 10A
MATH 10B_GROUP_1
MATH 20A
added MATH 10B to database.
MATH 10C_GROUP_0
MATH 10B
MATH 10C_GROUP_1
MATH 20B
added MATH 10C to database.
MATH 11_GROUP_0
MATH 10B
MATH 11_GROUP_1
MATH 20B
added MATH 11 to database.
MATH 15A_GROUP_0
CSE 8B
MATH 15A_GROUP_1
CSE 11
added MATH 15A to database.
MATH 18_GROUP_0
MATH 4C
MATH 18_GROUP_1
MATH 10A
MATH 18_GROUP_2
MATH 20A
added MATH 18 to database.
MATH 20A_GROUP_0
MATH 2C
MATH 20A_GROUP_1
MATH 4C
MATH 20A_GROUP_2
MATH 10A
added MATH 20A to database.
MATH 20B_GROUP_0
MATH 20A
MATH 20B_GROUP_1
MATH 10B
MATH 20B_GROUP_2
MATH 10C
added MATH 20B to database.
MATH 20C_GROUP_0
MATH 20B
added MATH 20C to database.
MATH 20D_GROUP_0
MATH 20C
MATH 20D_GROUP_1
MATH 21C
MATH 20D_GROUP_2
MATH 31B
added MATH 20D to database.
MATH 20E_GROUP_0
MATH 18
MATH 20F
MATH 31A
MATH 20E_GROUP_1
MATH 20C
MATH 21C
MATH 31B
added MATH 20E to database.
MATH 31AH_GROUP_0
added MATH 31AH to database.
MATH 31BH_GROUP_0
MATH 31A
added MATH 31BH to database.
MATH 31CH_GROUP_0
MATH 31B
added MATH 31CH to database.
MATH 87_GROUP_0
added MATH 87 to database.
MATH 95_GROUP_0
added MATH 95 to database.
MATH 96_GROUP_0
MATH 20A
added MATH 96 to database.
MATH 99R_GROUP_0
added MATH 99R to database.
MATH 100A_GROUP_0
MATH 31C
MATH 109
added MATH 100A to database.
MATH 100B_GROUP_0
MATH 100A
added MATH 100B to database.
MATH 100C_GROUP_0
MATH 100B
added MATH 100C to database.
MATH 102_GROUP_0
MATH 18
MATH 20F
MATH 31A
MATH 102_GROUP_1
MATH 20C
added MATH 102 to database.
MATH 103A_GROUP_0
MATH 31CH
MATH 109
added MATH 103A to database.
MATH 103B_GROUP_0
MATH 103A
MATH 100A
added MATH 103B to database.
MATH 104A_GROUP_0
MATH 100B
MATH 103B
added MATH 104A to database.
MATH 104B_GROUP_0
MATH 104A
added MATH 104B to database.
MATH 105_GROUP_0
MATH 31C
MATH 109
added MATH 105 to database.
MATH 106_GROUP_0
MATH 100B
MATH 103B
added MATH 106 to database.
MATH 109_GROUP_0
MATH 18
MATH 20F
MATH 31A
MATH 109_GROUP_1
MATH 20C
added MATH 109 to database.
MATH 110_GROUP_0
MATH 18
MATH 20F
MATH 31A
MATH 110_GROUP_1
MATH 20D
MATH 110_GROUP_2
MATH 20E
MATH 31C
added MATH 110 to database.
MATH 111A_GROUP_0
MATH 20D
MATH 111A_GROUP_1
MATH 18
MATH 20F
MATH 31A
MATH 111A_GROUP_2
MATH 109
MATH 31C
added MATH 111A to database.
MATH 111B_GROUP_0
MATH 111A
added MATH 111B to database.
MATH 112A_GROUP_0
MATH 11
MATH 180A
MATH 183
MATH 186
MATH 112A_GROUP_1
MATH 18
MATH 31A
MATH 112A_GROUP_2
MATH 20D
MATH 112A_GROUP_3
BILD 1
added MATH 112A to database.
MATH 112B_GROUP_0
MATH 112A
MATH 112B_GROUP_1
MATH 110
MATH 112B_GROUP_2
MATH 180A
added MATH 112B to database.
MATH 114_GROUP_0
MATH 180A
added MATH 114 to database.
MATH 120A_GROUP_0
MATH 20E
MATH 31C
added MATH 120A to database.
MATH 120B_GROUP_0
MATH 120A
added MATH 120B to database.
MATH 121A_GROUP_0
EDS 30
MATH 95
MATH 121A_GROUP_1
MATH 31C
MATH 109
added MATH 121A to database.
MATH 121B_GROUP_0
MATH 121A
added MATH 121B to database.
MATH 130_GROUP_0
MATH 18
MATH 20F
MATH 31A
MATH 130_GROUP_1
MATH 20D
added MATH 130 to database.
MATH 140A_GROUP_0
MATH 31C
MATH 109
added MATH 140A to database.
MATH 140B_GROUP_0
MATH 140A
added MATH 140B to database.
MATH 140C_GROUP_0
MATH 140B
added MATH 140C to database.
MATH 142A_GROUP_0
MATH 31C
MATH 109
added MATH 142A to database.
MATH 142B_GROUP_0
MATH 142A
MATH 140A
added MATH 142B to database.
MATH 144_GROUP_0
MATH 140B
MATH 142B
added MATH 144 to database.
MATH 146_GROUP_0
MATH 140B
MATH 142B
added MATH 146 to database.
MATH 148_GROUP_0
MATH 140B
MATH 142B
added MATH 148 to database.
MATH 150A_GROUP_0
MATH 20E
MATH 31C
MATH 150A_GROUP_1
MATH 18
MATH 20F
MATH 31A
added MATH 150A to database.
MATH 150B_GROUP_0
MATH 150A
added MATH 150B to database.
MATH 152_GROUP_0
MATH 20D
MATH 152_GROUP_1
MATH 18
MATH 20F
MATH 31A
added MATH 152 to database.
MATH 153_GROUP_0
MATH 109
MATH 31C
added MATH 153 to database.
MATH 154_GROUP_0
MATH 31C
MATH 109
added MATH 154 to database.
MATH 155A_GROUP_0
MATH 18
MATH 20F
MATH 31A
MATH 155A_GROUP_1
MATH 20C
added MATH 155A to database.
MATH 155B_GROUP_0
MATH 155A
added MATH 155B to database.
MATH 157_GROUP_0
MATH 18
MATH 20F
MATH 31A
MATH 157_GROUP_1
BILD 62
COGS 18
CSE 5A
CSE 6R
CSE 8A
CSE 11
DSC 10
ECE 15
ECE 143
MATH 189
added MATH 157 to database.
MATH 158_GROUP_0
MATH 31C
MATH 109
added MATH 158 to database.
MATH 160A_GROUP_0
MATH 100A
MATH 103A
MATH 140A
added MATH 160A to database.
MATH 160B_GROUP_0
MATH 160A
added MATH 160B to database.
MATH 163_GROUP_0
MATH 20B
added MATH 163 to database.
MATH 168A_GROUP_0
MATH 18
MATH 20F
MATH 31A
MATH 168A_GROUP_1
MATH 20C
added MATH 168A to database.
MATH 170A_GROUP_0
MATH 18
MATH 31A
MATH 170A_GROUP_1
MATH 20C
MATH 31B
MATH 170A_GROUP_2
CSE 20
MATH 15A
MATH 31C
MATH 109
added MATH 170A to database.
MATH 170B_GROUP_0
MATH 170A
added MATH 170B to database.
MATH 170C_GROUP_0
MATH 20D
MATH 21D
MATH 170C_GROUP_1
MATH 170B
added MATH 170C to database.
MATH 171A_GROUP_0
MATH 18
MATH 20F
MATH 31A
MATH 171A_GROUP_1
MATH 20C
added MATH 171A to database.
MATH 171B_GROUP_0
MATH 20C
MATH 31B
MATH 171B_GROUP_1
MATH 171A
added MATH 171B to database.
MATH 173A_GROUP_0
MATH 20C
MATH 31B
MATH 173A_GROUP_1
MATH 18
MATH 20F
MATH 31AH
added MATH 173A to database.
MATH 173B_GROUP_0
MATH 173A
added MATH 173B to database.
MATH 174_GROUP_0
MATH 20D
MATH 21D
MATH 174_GROUP_1
MATH 20F
MATH 31A
added MATH 174 to database.
MATH 175_GROUP_0
MATH 174
MATH 274
added MATH 175 to database.
MATH 179_GROUP_0
MATH 174
MATH 274
added MATH 179 to database.
MATH 180A_GROUP_0
MATH 20C
MATH 31B
added MATH 180A to database.
MATH 180B_GROUP_0
MATH 20D
MATH 180B_GROUP_1
MATH 18
MATH 20F
MATH 31A
MATH 180B_GROUP_2
MATH 109
MATH 31C
MATH 180B_GROUP_3
MATH 180A
added MATH 180B to database.
MATH 180C_GROUP_0
MATH 180B
added MATH 180C to database.
MATH 181A_GROUP_0
MATH 180A
MATH 181A_GROUP_1
MATH 18
MATH 20F
MATH 31A
MATH 181A_GROUP_2
MATH 20C
added MATH 181A to database.
MATH 181B_GROUP_0
MATH 181A
added MATH 181B to database.
MATH 181C_GROUP_0
MATH 181B
added MATH 181C to database.
MATH 181D_GROUP_0
ECE 109
ECON 120A
MAE 108
MATH 181A
MATH 183
MATH 186
MATH 189
added MATH 181D to database.
MATH 181E_GROUP_0
MATH 181B
added MATH 181E to database.
MATH 181F_GROUP_0
ECE 109
ECON 120A
MAE 108
MATH 11
MATH 181A
MATH 183
MATH 186
MATH 189
added MATH 181F to database.
MATH 182_GROUP_0
MATH 180A
MATH 182_GROUP_1
MATH 18
MATH 31A
added MATH 182 to database.
MATH 183_GROUP_0
MATH 20C
MATH 31B
added MATH 183 to database.
MATH 184_GROUP_0
MATH 31C
MATH 109
added MATH 184 to database.
MATH 185_GROUP_0
MATH 181A
ECON 120B
MATH 185_GROUP_1
MATH 18
MATH 20F
MATH 31A
MATH 185_GROUP_2
MATH 20C
MATH 31B
added MATH 185 to database.
MATH 186_GROUP_0
MATH 20C
MATH 31B
added MATH 186 to database.
MATH 187A_GROUP_0
MATH 10A
MATH 20A
added MATH 187A to database.
MATH 187B_GROUP_0
MATH 187
MATH 187A
MATH 187B_GROUP_1
MATH 18
MATH 31A
MATH 20F
added MATH 187B to database.
MATH 188_GROUP_0
MATH 31C
MATH 109
MATH 188_GROUP_1
MATH 18
MATH 31A
MATH 188_GROUP_2
MATH 100A
MATH 103A
added MATH 188 to database.
MATH 189_GROUP_0
MATH 18
MATH 20F
MATH 31A
MATH 189_GROUP_1
MATH 20C
MATH 189_GROUP_2
BENG 134
CSE 103
ECE 109
ECON 120A
MAE 108
MATH 180A
MATH 183
MATH 186
SE 125
added MATH 189 to database.
MATH 190A_GROUP_0
MATH 31C
MATH 140A
MATH 142A
added MATH 190A to database.
MATH 190B_GROUP_0
MATH 190A
added MATH 190B to database.
MATH 191_GROUP_0
MATH 190A
added MATH 191 to database.
MATH 193A_GROUP_0
MATH 180A
MATH 183
added MATH 193A to database.
MATH 193B_GROUP_0
MATH 193A
added MATH 193B to database.
MATH 194_GROUP_0
MATH 20D
MATH 194_GROUP_1
MATH 18
MATH 20F
MATH 31A
MATH 194_GROUP_2
MATH 180A
added MATH 194 to database.
MATH 195_GROUP_0
added MATH 195 to database.
MATH 196_GROUP_0
added MATH 196 to database.
MATH 197_GROUP_0
added MATH 197 to database.
MATH 199_GROUP_0
added MATH 199 to database.
MATH 199H_GROUP_0
added MATH 199H to database.

Sucessfully added all courses to database.

In [15]:
cse_data = pd.read_csv('data/processed/CSE Course Data.csv')
add_department_catalog(cse_data)

CSE 3_GROUP_0
added CSE 3 to database.
CSE 4GS_GROUP_0
MATH 10A
MATH 20A
added CSE 4GS to database.
CSE 6GS_GROUP_0
MATH 10A
MATH 20A
added CSE 6GS to database.
CSE 6R_GROUP_0
added CSE 6R to database.
CSE 8A_GROUP_0
added CSE 8A to database.
CSE 8B_GROUP_0
CSE 8A
added CSE 8B to database.
CSE 11_GROUP_0
added CSE 11 to database.
CSE 12_GROUP_0
CSE 8B
CSE 11
added CSE 12 to database.
CSE 15L_GROUP_0
CSE 8B
CSE 11
CSE 12
DSC 30
added CSE 15L to database.
CSE 20_GROUP_0
CSE 11
CSE 6R
CSE 8A
CSE 8B
ECE 15
added CSE 20 to database.
CSE 21_GROUP_0
CSE 20
MATH 15A
MATH 31CH
added CSE 21 to database.
CSE 29_GROUP_0
CSE 11
CSE 8B
ECE 15
added CSE 29 to database.
CSE 30_GROUP_0
CSE 15L
CSE 29
ECE 15
added CSE 30 to database.
CSE 42_GROUP_0
added CSE 42 to database.
CSE 86_GROUP_0
CSE 12
added CSE 86 to database.
CSE 87_GROUP_0
added CSE 87 to database.
CSE 89_GROUP_0
added CSE 89 to database.
CSE 90_GROUP_0
added CSE 90 to database.
CSE 91_GROUP_0
added CSE 91 to database.
CSE 95_GROUP_0
added CSE 95 to database.
CSE 99_GROUP_0
added CSE 99 to database.
CSE 100_GROUP_0
CSE 21
MATH 154
MATH 158
MATH 184
MATH 188
CSE 100_GROUP_1
CSE 12
CSE 100_GROUP_2
CSE 15L
CSE 100_GROUP_3
CSE 30
ECE 15
added CSE 100 to database.
CSE 100R_GROUP_0
CSE 21
MATH 154
MATH 158
MATH 184
MATH 188
CSE 100R_GROUP_1
CSE 12
CSE 100R_GROUP_2
CSE 15L
CSE 100R_GROUP_3
CSE 30
ECE 15
added CSE 100R to database.
CSE 101_GROUP_0
CSE 21
MATH 154
MATH 158
MATH 184
MATH 188
CSE 101_GROUP_1
CSE 12
DSC 30
added CSE 101 to database.
CSE 103_GROUP_0
MATH 20B
CSE 103_GROUP_1
CSE 21
MATH 154
MATH 158
MATH 184
MATH 188
added CSE 103 to database.
CSE 105_GROUP_0
CSE 12
CSE 105_GROUP_1
CSE 20
MATH 109
MATH 15A
MATH 31CH
CSE 105_GROUP_2
CSE 21
MATH 100A
MATH 103A
MATH 154
MATH 158
MATH 184
MATH 188
added CSE 105 to database.
CSE 106_GROUP_0
MATH 18
MATH 31AH
CSE 106_GROUP_1
MATH 20C
MATH 31BH
CSE 106_GROUP_2
CSE 21
DSC 40B
MATH 154
MATH 158
MATH 184
MATH 188
added CSE 106 to database.
CSE 107_GROUP_0
CSE 21
MATH 154
MATH 158
MATH 184
MATH 188
CSE 107_GROUP_1
CSE 101
CSE 107_GROUP_2
CSE 105
added CSE 107 to database.
CSE 109_GROUP_0
CSE 15L
CSE 29
added CSE 109 to database.
CSE 110_GROUP_0
CSE 100
CSE 100R
added CSE 110 to database.
CSE 112_GROUP_0
CSE 110
added CSE 112 to database.
CSE 118_GROUP_0
CSE 131
CSE 132B
COGS 102C
COGS 121
COGS 184
COMT 111B
COMT 115
ECE 111
ECE 118
ECE 191
ECE 192
ICAM 160B
added CSE 118 to database.
CSE 120_GROUP_0
CSE 15L
CSE 29
CSE 120_GROUP_1
CSE 101
CSE 120_GROUP_2
CSE 110
added CSE 120 to database.
CSE 121_GROUP_0
CSE 120
added CSE 121 to database.
CSE 122_GROUP_0
CSE 30
ECE 30
CSE 122_GROUP_1
CSE 101
ECE 141A
CSE 122_GROUP_2
CSE 110
ECE 141B
added CSE 122 to database.
CSE 123_GROUP_0
CSE 15L
CSE 29
CSE 123_GROUP_1
CSE 101
CSE 123_GROUP_2
CSE 110
added CSE 123 to database.
CSE 124_GROUP_0
CSE 15L
CSE 29
CSE 124_GROUP_1
CSE 101
CSE 124_GROUP_2
CSE 110
added CSE 124 to database.
CSE 125_GROUP_0
added CSE 125 to database.
CSE 127_GROUP_0
CSE 21
MATH 154
MATH 158
MATH 184
MATH 188
CSE 127_GROUP_1
CSE 120
CSE 123
CSE 124
added CSE 127 to database.
CSE 130_GROUP_0
CSE 12
CSE 130_GROUP_1
CSE 100
CSE 100R
CSE 130_GROUP_2
CSE 105
added CSE 130 to database.
CSE 131_GROUP_0
CSE 100
CSE 100R
CSE 131_GROUP_1
CSE 105
CSE 131_GROUP_2
CSE 130
added CSE 131 to database.
CSE 132A_GROUP_0
CSE 100
CSE 100R
added CSE 132A to database.
CSE 132B_GROUP_0
CSE 132A
added CSE 132B to database.
CSE 132C_GROUP_0
CSE 132A
DSC 102
added CSE 132C to database.
CSE 134B_GROUP_0
CSE 100
CSE 100R
added CSE 134B to database.
CSE 135_GROUP_0
CSE 100
CSE 100R
added CSE 135 to database.
CSE 136_GROUP_0
CSE 135
added CSE 136 to database.
CSE 140_GROUP_0
CSE 20
MATH 109
MATH 15A
MATH 31CH
CSE 140_GROUP_1
CSE 30
added CSE 140 to database.
CSE 140L_GROUP_0
CSE 20
MATH 109
MATH 15A
MATH 31CH
CSE 140L_GROUP_1
CSE 30
added CSE 140L to database.
CSE 141_GROUP_0
CSE 30
CSE 141_GROUP_1
CSE 140
CSE 141_GROUP_2
CSE 140L
added CSE 141 to database.
CSE 141L_GROUP_0
CSE 30
CSE 141L_GROUP_1
CSE 140
CSE 141L_GROUP_2
CSE 140L
added CSE 141L to database.
CSE 142_GROUP_0
CSE 30
CSE 142_GROUP_1
CSE 100
CSE 100R
added CSE 142 to database.
CSE 142L_GROUP_0
CSE 30
CSE 142L_GROUP_1
CSE 100
CSE 100R
added CSE 142L to database.
CSE 143_GROUP_0
CSE 140
added CSE 143 to database.
CSE 145_GROUP_0
added CSE 145 to database.
CSE 147_GROUP_0
CSE 30
added CSE 147 to database.
CSE 148_GROUP_0
CSE 141
CSE 148_GROUP_1
CSE 141L
added CSE 148 to database.
CSE 150A_GROUP_0
CSE 12
DSC 40B
CSE 150A_GROUP_1
CSE 15L
CSE 29
DSC 80
CSE 150A_GROUP_2
COGS 118D
CSE 103
ECE 109
ECON 120A
MAE 108
MATH 180A
MATH 180B
MATH 181A
MATH 183
MATH 186
CSE 150A_GROUP_3
MATH 20A
CSE 150A_GROUP_4
MATH 18
MATH 31AH
added CSE 150A to database.
CSE 150B_GROUP_0
CSE 12
DSC 40B
CSE 150B_GROUP_1
CSE 15L
CSE 29
DSC 80
CSE 150B_GROUP_2
COGS 118D
CSE 103
ECE 109
ECON 120A
MAE 108
MATH 180A
MATH 180B
MATH 181A
MATH 183
MATH 186
CSE 150B_GROUP_3
CSE 100
CSE 100R
added CSE 150B to database.
CSE 151A_GROUP_0
CSE 12
DSC 40B
CSE 151A_GROUP_1
CSE 15L
CSE 29
DSC 80
CSE 151A_GROUP_2
COGS 118D
CSE 103
ECE 109
ECON 120A
MAE 108
MATH 180A
MATH 180B
MATH 181A
MATH 183
MATH 186
CSE 151A_GROUP_3
MATH 18
MATH 31AH
CSE 151A_GROUP_4
MATH 20C
MATH 31BH
added CSE 151A to database.
CSE 151B_GROUP_0
MATH 20C
MATH 31BH
CSE 151B_GROUP_1
BENG 134
COGS 118D
CSE 103
ECE 109
ECON 120A
MAE 108
MATH 180A
MATH 180B
MATH 181A
MATH 183
MATH 186
SE 125
CSE 151B_GROUP_2
COGS 118A
COGS 118B
COGS 188
CSE 151A
ECE 175A
added CSE 151B to database.
CSE 152A_GROUP_0
MATH 18
MATH 31AH
CSE 152A_GROUP_1
CSE 12
DSC 30
CSE 152A_GROUP_2
CSE 15L
CSE 29
DSC 80
added CSE 152A to database.
CSE 152B_GROUP_0
CSE 152A
CSE 152
CSE 166
added CSE 152B to database.
CSE 156_GROUP_0
CSE 12
DSC 40B
CSE 156_GROUP_1
CSE 15L
CSE 29
DSC 80
CSE 156_GROUP_2
BENG 134
COGS 118D
CSE 103
ECE 109
ECON 120A
MAE 108
MATH 180A
MATH 180B
MATH 181A
MATH 183
MATH 186
added CSE 156 to database.
CSE 158_GROUP_0
CSE 12
DSC 40B
CSE 158_GROUP_1
CSE 15L
CSE 29
DSC 80
CSE 158_GROUP_2
BENG 100
BENG 134
COGS 118D
CSE 103
ECE 109
ECON 120A
MAE 108
MATH 180A
MATH 180B
MATH 181A
MATH 183
MATH 186
added CSE 158 to database.
CSE 158R_GROUP_0
CSE 12
DSC 40B
CSE 158R_GROUP_1
CSE 15L
CSE 29
DSC 80
CSE 158R_GROUP_2
BENG 100
BENG 134
COGS 118D
CSE 103
ECE 109
ECON 120A
MAE 108
MATH 180A
MATH 180B
MATH 181A
MATH 183
MATH 186
added CSE 158R to database.
CSE 160_GROUP_0
CSE 100
CSE 100R
added CSE 160 to database.
CSE 163_GROUP_0
CSE 167
added CSE 163 to database.
CSE 165_GROUP_0
CSE 167
added CSE 165 to database.
CSE 166_GROUP_0
DSC 40B
MATH 18
MATH 31AH
CSE 166_GROUP_1
CSE 100
CSE 100R
DSC 80
added CSE 166 to database.
CSE 167_GROUP_0
CSE 100
CSE 100R
added CSE 167 to database.
CSE 167R_GROUP_0
CSE 100
CSE 100R
added CSE 167R to database.
CSE 168_GROUP_0
CSE 167
CSE 167R
added CSE 168 to database.
CSE 168R_GROUP_0
CSE 167
CSE 167R
added CSE 168R to database.
CSE 169_GROUP_0
CSE 167
added CSE 169 to database.
CSE 170_GROUP_0
COGS 108
CSE 12
DSC 30
CSE 170_GROUP_1
COGS 1
COGS 10
DSGN 1
ENG 100D
added CSE 170 to database.
CSE 175_GROUP_0
added CSE 175 to database.
CSE 176A_GROUP_0
CSE 110
CSE 170
COGS 120
added CSE 176A to database.
CSE 176E_GROUP_0
added CSE 176E to database.
CSE 180_GROUP_0
BILD 1
BILD 4
CSE 11
CSE 3
CSE 8A
CSE 8B
added CSE 180 to database.
CSE 180R_GROUP_0
BILD 1
BILD 4
CSE 11
CSE 3
CSE 8A
CSE 8B
added CSE 180R to database.
CSE 181_GROUP_0
CSE 100
CSE 100R
CSE 181_GROUP_1
CSE 101
CSE 181_GROUP_2
BIMM 100
CHEM 114C
added CSE 181 to database.
CSE 182_GROUP_0
CSE 100
CSE 100R
added CSE 182 to database.
CSE 184_GROUP_0
BIMM 181
BENG 181
CSE 181
CSE 184_GROUP_1
BENG 182
BIMM 182
CSE 182
CHEM 182
added CSE 184 to database.
CSE 185_GROUP_0
CSE 11
CSE 8B
CSE 185_GROUP_1
CSE 12
CSE 185_GROUP_2
MATH 20C
MATH 31B
CSE 185_GROUP_3
BILD 1
CSE 185_GROUP_4
BIEB 123
BILD 4
BIMM 101
CHEM 109
added CSE 185 to database.
CSE 190_GROUP_0
added CSE 190 to database.
CSE 191_GROUP_0
added CSE 191 to database.
CSE 192_GROUP_0
added CSE 192 to database.
CSE 193_GROUP_0
added CSE 193 to database.
CSE 194_GROUP_0
AAS 10
CSE 12
ECE 35
ETHN 3
HILD 7A
LTEN 27
CSE 194_GROUP_1
CAT 125
CAT 125R
CAT 3
DOC 3
HUM 2
MCWP 125
MCWP 125R
MCWP 50
MCWP 50R
MMW 121
MMW 121R
MMW 122
MMW 13
SYN 2
WCWP 100
WCWP 10B
added CSE 194 to database.
CSE 197_GROUP_0
added CSE 197 to database.
CSE 197C_GROUP_0
added CSE 197C to database.
CSE 198_GROUP_0
added CSE 198 to database.
CSE 199_GROUP_0
added CSE 199 to database.
CSE 199H_GROUP_0
added CSE 199H to database.

Sucessfully added all courses to database.

In [17]:
# David's Function
mathcs_req = pd.read_csv('data/processed/MA30 requirements.csv')
add_major_requirements(mathcs_req)

MA30 Lower Division
MA30 Upper Division
added MA30 to database.
MA30_Lower_1
MA30_Lower_2
MA30_Lower_3
MA30_Lower_4
added MA30 Lower Division to database.
MA30_Upper_1
MA30_Upper_2
MA30_Upper_3
MA30_Upper_4
MA30_Upper_5
MA30_Upper_6
MA30_Upper_7
MA30_Upper_8
MA30_Upper_9
MA30_Upper_10
added MA30 Upper Division to database.
('MATH 18', 'MATH 20A', 'MATH 20B', 'MATH 20C', 'MATH 20D', 'MATH 20E'): added new group
('MATH 31AH', 'MATH 31BH', 'MATH 31CH', 'MATH 20D'): added new group
added MA30_Lower_1 to database.
('CSE 8A', 'CSE 8B'): added new group
('CSE 11',): added new group
added MA30_Lower_2 to database.
CSE 15L: directly added course
CSE 29: directly added course
added MA30_Lower_3 to database.
CSE 12: directly added course
added MA30_Lower_4 to database.
MATH 109: directly added course
added MA30_Upper_1 to database.
('MATH 103A', 'MATH 103B'): added new group
('MATH 100A', 'MATH 100B'): added new group
added MA30_Upper_2 to database.
CSE 105: directly added course
added MA30_Upper_3 to database.
CSE 100: directly added course
added MA30_Upper_4 to database.
MATH 180A: directly added course
MATH 183: directly added course
added MA30_Upper_5 to database.
MATH 154: directly added course
MATH 158: directly added course
MATH 184: directly added course
MATH 188: directly added course
added MA30_Upper_6 to database.
CSE 101: directly added course
added MA30_Upper_7 to database.
MATH 170A: directly added course
MATH 170B: directly added course
MATH 170C: directly added course
MATH 171A: directly added course
MATH 171B: directly added course
MATH 173A: directly added course
MATH 173B: directly added course
MATH 174: directly added course
MATH 175: directly added course
MATH 179: directly added course
MATH 180B: directly added course
MATH 180C: directly added course
MATH 181A: directly added course
MATH 181B: directly added course
MATH 181C: directly added course
MATH 181E: directly added course
added MA30_Upper_8 to database.
MATH 152: directly added course
MATH 154: directly added course
MATH 155A: directly added course
MATH 155B: directly added course
MATH 157: directly added course
MATH 158: directly added course
MATH 160A: directly added course
MATH 160B: directly added course
MATH 168A: directly added course
MATH 182: directly added course
MATH 184: directly added course
MATH 185: directly added course
MATH 187A: directly added course
MATH 187B: directly added course
MATH 188: directly added course
MATH 189: directly added course
CSE 107: directly added course
CSE 110: directly added course
CSE 112: directly added course
CSE 120: directly added course
CSE 121: directly added course
CSE 123: directly added course
CSE 124: directly added course
CSE 127: directly added course
CSE 130: directly added course
CSE 131: directly added course
CSE 132A: directly added course
CSE 132B: directly added course
CSE 134B: directly added course
CSE 140: directly added course
CSE 140L: directly added course
CSE 141: directly added course
CSE 141L: directly added course
CSE 142: directly added course
CSE 150A: directly added course
CSE 150B: directly added course
CSE 151A: directly added course
CSE 152A: directly added course
CSE 152B: directly added course
CSE 158: directly added course
CSE 160: directly added course
CSE 165: directly added course
CSE 167: directly added course
CSE 168: directly added course
CSE 169: directly added course
CSE 176A: directly added course
COGS 108: directly added course
COGS 118A: directly added course
COGS 118B: directly added course
COGS 120: directly added course
COGS 185: directly added course
COGS 188: directly added course
added MA30_Upper_9 to database.
MATH 100C: directly added course
MATH 102: directly added course
MATH 104A: directly added course
MATH 104B: directly added course
MATH 106: directly added course
MATH 110: directly added course
MATH 111A: directly added course
MATH 111B: directly added course
MATH 114: directly added course
MATH 120A: directly added course
MATH 120B: directly added course
MATH 130: directly added course
MATH 140A: directly added course
MATH 140B: directly added course
MATH 142A: directly added course
MATH 142B: directly added course
MATH 144: directly added course
MATH 150A: directly added course
MATH 150B: directly added course
MATH 163: directly added course
MATH 181D: directly added course
MATH 181F: directly added course
MATH 190A: directly added course
MATH 190B: directly added course
MATH 193A: directly added course
MATH 193B: directly added course
MATH 194: directly added course
added MA30_Upper_10 to database.
Successfully added all requirement milestones.

In [18]:
db.close()